@import 'theme/colors.scss';

form {
  width: 100%;
}

form button {
  width: 100% !important;
}

fieldset {
  border: none;
}

fieldset label {
  display: flex;
  align-items: center;
  margin: 0.25rem 0.75rem 0.25rem 0;
  cursor: pointer;
}

input,
select,
textarea {
  padding: 0.5rem 0.75rem;
  border: 0.0625rem solid $lighterGrey;
  border-radius: 0.35rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 1rem;
  min-width: 7rem;
  height: 3rem;
  width: 100%;
  transition: border 0.2s ease;
}

textarea {
  min-height: 7rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $white;
}

@media (hover: hover) {
  select:hover {
    cursor: pointer;
  }
}

select > option {
  background-color: $white;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: $offWhite;
  border-color: $warmGrey;
  cursor: not-allowed;
  color: $grey;
}

input::placeholder,
textarea::placeholder {
  color: $warmGrey;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 0.0625rem solid $blue;
  box-shadow: 0 0 0.15rem $blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=checkbox],
input[type=radio] {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0.75rem 0.25rem 0;
  cursor: pointer;
}


@media (hover: hover) {
  input[type=checkbox]:hover {
    cursor: pointer;
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {

}